html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}
* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* .first-arrow-line {
  position: absolute;
  top: -4px;
  left: -4px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 20px solid rgba(0, 0, 0, 1);
  transform: rotate(270deg);
}
.second-arrow-line {
  position: absolute;
  top: -4px;
  left: -4px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 20px solid rgba(0, 0, 0, 1);
  transform: rotate(90deg);
} */
* {
  box-sizing: border-box;
}
.group-button {
  padding: 0px 14px;
}
.group-button:last-child {
  border-left: 1px solid #ccc;
}
.leaflet-right button {
  display: none;
}
.group-button:hover {
  background-color: #ddd;
  cursor: pointer;
}
.selected-icon {
  border: 3px solid #5551ff;
  opacity: 0.8;
}

sub {
  margin-top: 6px;
}
.leaflet-popup-content {
  margin: 0 !important;
  width: unset !important;
}

.leaflet-popup-content-wrapper {
  background-color: transparent !important;
  box-shadow: none !important;
}

.leaflet-popup-tip {
  background-color: transparent !important;
  color: transparent !important;
  box-shadow: none !important;
}
